* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: linear-gradient(red, black);
}
h1 {
  background-color: red;
  display: block;
}
button {
  color: green;
  background-color: aquamarine;
  display: block;
}
.head {
  color: rebeccapurple;
  font-size: 50px;
  border: 2px solid black;
  padding: 30px;
  margin: 20px 3px;
  text-align: left;
}

h3 {
  color: aqua;
  font-weight: bold;
  font-size: 36px;
}

span {
  color: blueviolet;
}

.head span {
  color: red;
}

.thing2 {
  color: orange;
}

.thing1 {
  color: purple;
}
li {
  color: green;
}
#dog {
  border: 2px solid red;
  border-radius: 10px;
}
